In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [2]:
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")
train_data.head(10)
test_ids  = test_data["PassengerId"]

#Clean data
def clean(data):
    data = data.drop(["Ticket","Cabin","PassengerId","Name"], axis = 1)
    col = ["SibSp","Parch","Fare","Age"]
    for i in col:
        data[i].fillna(data[i].median(), inplace = True)
    data.Embarked.fillna("U", inplace = True) #Fill those empty data points with an unknown token
    return data

train_data = clean(train_data)
test_data = clean(test_data)

In [3]:
train_data.head(5)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [4]:
#converting strings into actual values
#using data mapping 
from sklearn import preprocessing
label_encod = preprocessing.LabelEncoder()

cols = ["Sex","Embarked"]
for col in cols:
    train_data[col] = label_encod.fit_transform(train_data[col])
    test_data[col] = label_encod.transform(test_data[col])
    print(label_encod.classes_)

train_data.head(10)

['female' 'male']
['C' 'Q' 'S' 'U']

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2
5         0       3    1  28.0      0      0   8.4583         1
6         0       1    1  54.0      0      0  51.8625         2
7         0       3    1   2.0      3      1  21.0750         2
8         1       3    0  27.0      0      2  11.1333         2
9         1       2    0  14.0      1      0  30.0708         0

In [5]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

y_pred = train_data["Survived"]
x_pred = train_data.drop("Survived", axis=1)

X_train, X_test, Y_train, Y_test = train_test_split(x_pred, y_pred, test_size  = 0.2, random_state = 42)

In [6]:
classifier = LogisticRegression(random_state=0, max_iter=1000).fit(X_train,Y_train)

In [7]:
predictions = classifier.predict(X_test)
from sklearn.metrics import accuracy_score 
accuracy_score(Y_test, predictions)

0.8100558659217877

In [8]:
submission_pred = classifier.predict(test_data)

In [9]:
data_fr = pd.DataFrame({"PassengerId":test_ids.values, "Survived":submission_pred})

In [11]:
#transfering data to csv file
data_fr.to_csv("submission.csv", index=False)